<section>
    <form action="/admin/sign-in" method="POST">
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Email" required>
        <label for="passcode">Passcode</label>
        <input type="text" name="passcode" placeholder="Passcode" required>
    </form>
</section>