<section>
    <form action="/admin/sign-up" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="Username" required>
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Email" required>
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password" required>
        <label for="confirm-password">Confirm-Password</label>
        <input type="text" name="confirm-password" placeholder="Confirm-Password" required>
        <label for="passcode">Passcode</label>
        <input type="text" name="passcode" placeholder="Passcode" required>
    </form>
</section>