<section>
    <form action="/admin/create-sessions" method="POST">
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Email" required>
        <label for="passcode">Passcode</label>
        <input type="text" name="passcode" placeholder="Passcode" required>
        <button class="btn">Sign In</button>
    </form>
</section>