<main>
    <section>
        <h1>User Profile: <%= user.name %></h1>
        <ul>
            <li>Email: <%= user.email %></li>
        </ul>

        <% if (employeeToReview) { %>
            <%- include("review_form", { employeeToReview: employeeToReview }) %>
        <% } %>
    </section>
</main>
