<main>
    <h1>Review Employee: <%= employeeToReview.name %></h1>
    <form action="/user/review/create" method="POST">
        
        <input type="hidden" name="reviewer" value="<%= reviewer.id%>">
        <input type="hidden" name="employeeToReview" value="<%= employeeToReview.id%>">
        <label for="rating">Rating:</label>
        <input type="number" name="rating" required>

        <label for="feedback">Feedback:</label>
        <textarea name="feedback" required></textarea>

        <button type="submit">Submit Review</button>
    </form>
</main>