<section>
    <form action="/user/create" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="Username" required>
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Email" required>
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password" required>
        <label for="confirm-password">Confirm-Password</label>
        <input type="text" name="confirm-password" placeholder="Confirm-Password" required>
        <button class="btn">Sign Up</button>
    </form>
</section>